version: "3.9"
services:
  app:
    build: .
    container_name: poker-server
    ports:
      - "3001:3001"
    volumes:
      - ./logs:/app/logs
    environment:
      - RUST_LOG=debug
      - PORT=3001
    command: /bin/bash -c "env && /usr/local/bin/poker-server"
    networks:
      default:
        ipv4_address: 172.30.0.10

networks:
  default:
    driver: bridge
    ipam:
      config:
        - subnet: 172.30.0.0/16
